---
title: Timestamp is
layout: layouts/home.njk
description: Everything you wanted to know about timestamps (and then some).
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---
<h3><div id="time"></div></h3>

<script async defer src="{{ "/js/timestamps.js" | addHash }}"></script>

<div id="posts">
  <h2>Timestamps</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
