
<div class="grid-container-fractional">
  <div class="grid-item ts-name header"></div>
  <div class="grid-item-header ts-old header"><span class="tense-header">Past</span></div>
  <div class="grid-item-header ts-now header"><span class="tense-header">Now</span></div>
  <div class="grid-item-header ts-future header"><span class="tense-header">Future</span></div>

  <div class="grid-item ts-name header">Type</div>
  <div class="grid-item-header ts-old header">2010-01-01T00:00:00.000Z</div>
  <div class="grid-item-header ts-now header" id="iso now"></div>
  <div class="grid-item-header ts-future header">2030-01-01T00:00:00.000Z</div>

  {% for post in collections.timestamps %}
    {% if post.data.timestamp_id %}
      <div class="grid-item ts-name" id="{{ post.data.timestamp_id }} name">{{ post.data.title }}</div>
      <div class="grid-item ts-past" id="{{ post.data.timestamp_id }} past seconds"></div>
      <div class="grid-item ts-past fractional" id="{{ post.data.timestamp_id }} past fractional"></div>
      <div class="grid-item ts-now" id="{{ post.data.timestamp_id }} now seconds"></div>
      <div class="grid-item ts-now fractional" id="{{ post.data.timestamp_id }} now fractional"></div>
      <div class="grid-item ts-future" id="{{ post.data.timestamp_id }} future seconds"></div>
      <div class="grid-item ts-future fractional" id="{{ post.data.timestamp_id }} future fractional"></div>
    {% endif %}
  {% endfor %}
</div>
